footer{
    background-color: black;
    color: white;
    position: relative;
    display: flex;
    justify-content:space-between;
    padding: 20px 15px;
    align-items: center;
    z-index: 2000;
}