.formulario {
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    .imagenes-eleccion {
        width: 50%; 
        height: auto;
        padding-top: 25px;
    }
    .boton-enviar {
        margin-top: 25px;
        input[type="submit"]:hover {
            background-color: rgba(0, 0, 0, 0.5);
            font-size: 16px;
            }
            input[type="submit"] {
                background-color: rgb(0, 0, 0);
                color: white;
                border-radius: 10px;
                font-size: 15px;
                padding: 8px 10px;
                font-weight: 400;
              }
             
    }
}