.sobre-nosotros {
    background-color: rgba(0, 0, 0, 0.692);
h2{
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
} p{
    padding: 15px 30px;
    color: white;
    font-size: 17px;

}
}